## Dictionary

In [61]:
diction= {
    "Vehicles":["Mercedes Benz","Audi"],
    "Model":["E class", "A4"],
    "Year":[2021,2020]
}

print(diction)

{'Vehicles': ['Mercedes Benz', 'Audi'], 'Model': ['E class', 'A4'], 'Year': [2021, 2020]}

### Acessing elements

In [5]:
diction["Vehicles"]

{'Audi', 'Mercedes Benz'}

In [6]:
diction.get("Model")

{'A4', 'E class'}

In [8]:
diction.keys()

dict_keys(['Vehicles', 'Model', 'Year'])

### Adding a key

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [40]:
x=diction.keys()
print(x)
diction["Colour"]="Silver"

print(x)

dict_keys(['Vehicles', 'Model', 'Year'])
dict_keys(['Vehicles', 'Model', 'Year', 'Colour'])

In [47]:
diction.values()

dict_values([['Mercedes Benz', 'Audi'], ['E class', 'A4'], [2021, 2020]])

### Changing values to keys

In [49]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [48]:
y= diction.items()
print(y)
diction["Vehicles"]="Porsche"
print(y)

dict_items([('Vehicles', ['Mercedes Benz', 'Audi']), ('Model', ['E class', 'A4']), ('Year', [2021, 2020])])
dict_items([('Vehicles', 'Porsche'), ('Model', ['E class', 'A4']), ('Year', [2021, 2020])])

In [37]:
if "Model" in diction:
    print("The model is in diction")
else:
    print("The model is not in the dictionary")

The model is in diction

In [38]:
if "model" in diction:
    print("The model is in diction")
else:
    print("The model is not in the dictionary")

The model is not in the dictionary

In [54]:
diction.update({"Vehicles":"BMW"})
print(diction)

{'Vehicles': 'BMW', 'Model': ['E class', 'A4'], 'Year': [2021, 2020], 'Vehicle': 'BMW'}

In [55]:
diction.pop("Vehicle")
print(diction)

{'Vehicles': 'BMW', 'Model': ['E class', 'A4'], 'Year': [2021, 2020]}

In [59]:
del diction["Model"]
print(diction)

{'Vehicles': ['Mercedes Benz', 'Audi'], 'Year': [2021, 2020]}

In [62]:
diction.clear()

print(diction)

{}

In [60]:
del diction
print(diction)

NameError: name 'diction' is not defined

### Copying dictionary

In [63]:
car1 = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

car2=car1.copy()
print(car2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [64]:
car3= dict(car1)
print(car3)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionaries

In [65]:
vehicles={
    "Vehicle1":{
    "brand1":"Toyota",
    "Model":"V8"

    },
    "Vehicle2":{
        "brand":"Mazda",
        "Model":"Atenza"
    },
    "Vehicle3":{
        "brand":"Subaru",
        "Model":"Forester"
    }
}

print(vehicles)

{'Vehicle1': {'brand1': 'Toyota', 'Model': 'V8'}, 'Vehicle2': {'brand': 'Mazda', 'Model': 'Atenza'}, 'Vehicle3': {'brand': 'Subaru', 'Model': 'Forester'}}

# Condition Statements

## if- statement

In [67]:
a= 45
b=63

if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [71]:
a= 63
b=63

if a>b:
    print("a is greater than b")
elif b>=a:
    print("b is greater than a")
elif b== a:
    print("b is equal to a")
else:
    print("None of the conditions is satisfied")

b is greater than a

In [3]:
a= 45
b=63

print("a is greater than b") if a>b else print("a is not greater than b")

a is not greater than b

In [4]:
# AND keyword
a= 45
b=63
c=94

if a>b and b>c:
    print("b is the largest number")
elif a>b and b<c:
    print("a is greater than b but less than c")
elif a>c and a>b:
    print("a is the largest")
else:
    print("None of the conditions hold")

None of the conditions hold

In [5]:
# or keyword
if 5>3 or 6>10:
    print("At least one of the conditions is true")
else:
    print("Nome of the conditions are true")

At least one of the conditions is true

In [15]:
# nested if
if a<10:
    print("a is greater than 10")
    if a>30:
        print("a is greater than 30")
    else:
        print("None of the coditions hold")
else:
    print("a is not greater than 10")

a is not greater than 10

In [16]:
# pass statement
if a<=10:
    pass

## Loops

### while loop

In [18]:
x= 30
while x<40:
    print(x)
    x+=2

30
32
34
36
38

In [7]:
x=30
while x<40:
    print(x)
    if (x<=38):
        break
    x+=1

30

In [5]:
x=30
while x<50:
    x+=1
    
    if (x>=38):
        continue
    print(x)
  #  x+=1

31
32
33
34
35
36
37

In [11]:
x=30
while x<=50:
        
    print(x)
    x+=1
else:
    print("x is no longer less than 50")

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
x is no longer less than 50

## for loop

In [13]:
cars=["Mercedes","BMW","Audi","Porsche","Volkswagen","Toyota"]
for x in cars:
    print(x," is in cars")

Mercedes  is in cars
BMW  is in cars
Audi  is in cars
Porsche  is in cars
Volkswagen  is in cars
Toyota  is in cars

In [14]:
for x in "mangoes":
    print(x)

m
a
n
g
o
e
s

In [15]:
cars=["Mercedes","BMW","Audi","Porsche","Volkswagen","Toyota"]
for x in cars:
    print(x," is in cars")
    if x== "Porsche":
        break

Mercedes  is in cars
BMW  is in cars
Audi  is in cars
Porsche  is in cars

In [17]:
cars=["Mercedes","BMW","Audi","Porsche","Volkswagen","Toyota"]
for x in cars:
    if x== "Porsche":
        break
    print(x," is in cars")

Mercedes  is in cars
BMW  is in cars
Audi  is in cars

In [19]:
cars=["Mercedes","BMW","Audi","Porsche","Volkswagen","Toyota"]

for x in cars:
    if x<= "Porsche":
        continue
    print(x," is in cars")

Volkswagen  is in cars
Toyota  is in cars

## range fxn

In [24]:
for x in range(2,10,3):
    print(x)

2
5
8

In [25]:
for x in range(10):
    print(x)
else:
    print("THE END")

0
1
2
3
4
5
6
7
8
9
THE END

In [28]:
for x in range(10):
    if x<=3: continue
    print(x)
else:
    print("THE END")

4
5
6
7
8
9
THE END

In [30]:
## nested loop
cars=["Mercedes","BMW","Audi","Porsche","Volkswagen","Toyota"]
fruits=["Apple","orange","pineapple","mango","lemon","mapera"]

for x in cars:
    for y in fruits:
        print(x,",",y)

Mercedes , Apple
Mercedes , orange
Mercedes , pineapple
Mercedes , mango
Mercedes , lemon
Mercedes , mapera
BMW , Apple
BMW , orange
BMW , pineapple
BMW , mango
BMW , lemon
BMW , mapera
Audi , Apple
Audi , orange
Audi , pineapple
Audi , mango
Audi , lemon
Audi , mapera
Porsche , Apple
Porsche , orange
Porsche , pineapple
Porsche , mango
Porsche , lemon
Porsche , mapera
Volkswagen , Apple
Volkswagen , orange
Volkswagen , pineapple
Volkswagen , mango
Volkswagen , lemon
Volkswagen , mapera
Toyota , Apple
Toyota , orange
Toyota , pineapple
Toyota , mango
Toyota , lemon
Toyota , mapera

In [31]:
cars=["Mercedes","BMW","Audi","Porsche","Volkswagen","Toyota"]
fruits=[]

for x in cars:
    for y in fruits:
        pass
       # print(x,",",y)

In [35]:
for x in range(2,10):
    for m in range(2,x):
        if x % m == 0:
            print(x, 'equals', m, '*', x//m)
            break
    else:
        print(x, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

# PYTHON MODULES

In [3]:
import platform as pt
x= pt.system()
print(x)

Linux

In [4]:
import platform
x= platform.system()
print(x)

Linux

In [5]:
x= dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

## python date time

In [8]:
import datetime as dt
x= dt.datetime.now()
print(x)

2022-07-04 20:47:38.637025

In [9]:
import datetime as dt
x= dt.datetime.now()
print(x.year)

2022

In [12]:
print(dir(dt))

['MAXYEAR', 'MINYEAR', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [14]:
x= dt.datetime(2022,4,25)
print(x)

2022-04-25 00:00:00

In [17]:
print(x.strftime("%B"))

April

In [18]:
print(x.strftime("%a"))

Mon

In [19]:
print(x.strftime("%W"))

17

In [20]:
print(x.strftime("%b"))

Apr

## Python Math

In [24]:
import math
x= min(34,74,66,56,7,95,93,43,25)
print(x)
y= max(4,74,66,56,7,95,93,43,25)
print(y)

7
95

In [27]:
my_list= [25,43,64,45,75,75,68,12]
min(my_list)

12

In [29]:
my_list= list((25,43,64,45,75,75,68,12))
min(my_list)

12

In [30]:
r= -36
print(abs(r))

36

In [32]:
#pow(x,y): This means x^y

pow(2,3) # 2^3

8

In [33]:
math.sqrt(64)

8.0

In [35]:
math.ceil(7/3)

3

In [36]:
7/3

2.3333333333333335

In [37]:
math.floor(7/3)

2

In [38]:
math.ceil(-7/3)

-2

In [41]:
math.pi

3.141592653589793

In [42]:
math.fsum(my_list)

407.0

In [44]:
math.cos(0)
math.factorial(0)

1

In [ ]:
# homework: Read on json module

# Python pip

Used f0r installing modules in python

## JSON module

In [1]:
import json
#parse using json.loads()
x='{"Name":"Humphrey", "Age":20,"Married":"No","Studying":"Yes"}'
y= json.loads(x)

print(y)

{'Name': 'Humphrey', 'Age': 20, 'Married': 'No', 'Studying': 'Yes'}

In [3]:
print(y["Age"])

20

In [4]:
#Python to json
#We use json.dumps()

m={
    "Country":"Kenya",
    "Counties":47,
    "Capital city":"Nairobi",
    "Largest Mountain":"Mount kenya",
    "President":"Kenyatta"
}

n=json.dumps(m)
print(n)

{"Country": "Kenya", "Counties": 47, "Capital city": "Nairobi", "Largest Mountain": "Mount kenya", "President": "Kenyatta"}

In [9]:
print(json.dumps({"name":"Humphrey", "Age":20}))
print(json.dumps(["Apple","Avocado"]))
print(json.dumps((45,83)))
print(json.dumps("Audi"))
print(json.dumps(47))
print(json.dumps(84.7584))
print(json.dumps(True))
print(json.dumps(None))

{"name": "Humphrey", "Age": 20}
["Apple", "Avocado"]
[45, 83]
"Audi"
47
84.7584
true
null

## Numpy Module

In [12]:
import numpy as np
print(np.array([37,94,38]))

[37 94 38]

In [16]:
arr1=np.array([37,94,38])
arr2=np.array([74,38,92])
mult_arr=np.array([arr1,arr2])
mult_arr

array([[37, 94, 38],
       [74, 38, 92]])

In [15]:
#Dimension of an array
#shape()

print(mult_arr.shape)

(2, 3)

In [24]:
arr3=np.array([[37, 94, 38,34],
               [74, 38, 92,57],
              [23,38,46,74],
              [65,36,98,57]])
print(arr3.shape)

(4, 4)

In [ ]:
import pandas as pd